.filesImage {
    height: 100px;
    width: auto;
}

.mainText {
    color: #1f2028;
    font-size: 1.75rem;
    margin-bottom: -10px;
}

.minorText {
    color: gray;
    font-size: 1.5rem;
    margin-top: 5px;
}

.emptyResultContainer {
    flex-direction: column;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.somethingResultContainer {
    background-color: #2E303A;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 80%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
}

.somethingResultContainer thead {
    background-color: #2E303A;
}

.somethingResultContainer thead th {
    padding: 5px 10px;
    color: white;
    font-weight: 600;
}

.somethingResultContainer thead th:first-child {
    border-top-left-radius: 15px;
}

.somethingResultContainer thead th:last-child {
    border-top-right-radius: 15px;
}

.somethingResultContainer tbody {
    background-color: #9ca3af;
}

.somethingResultContainer tbody td {
    padding: 5px 10px;
    color: white;
    border-top: 2px solid #2E303A;
}

.somethingResultContainer tbody tr:first-child td {
    border-top: none;
}

.somethingResultContainer tbody td:not(:last-child),
.somethingResultContainer thead th:not(:last-child) {
    border-right: 2px solid #2E303A;
}

.somethingResultContainer tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.somethingResultContainer tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}